<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="list-group-item-heading">{{ contact.name }}</h3>
    <div class="pull-right">
      <button class="btn btn-warning">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
    <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive">

  </div>
  <div class="panel-body">

  </div>
  <div class="panel-body">
    <h4>Email: {{contact.email}} </h4><br>
    <h4>Phone: {{contact.phone}} </h4>
  </div>
</div>
